# TODO remove temporary file extension .sample of this file
# suppress inspection "UnusedProperty" for whole file
RELEASE.STORE_FILE=PATH_TO_KEYSTORE
RELEASE.STORE_PASSWORD=PASSWORD
RELEASE.KEY_ALIAS=KEY_ALIAS
RELEASE.KEY_PASSWORD=KEY_PASSWORD
